* {
  padding: 0;
}

.heading {
  text-align: center;
  font-size: 14px;
  background: linear-gradient(dodgerblue, rgb(0, 47, 128));
  padding: 1rem;
  text-align: center;
  margin-top: 0;
  color: white;
  border-bottom: white;
  width: 100%;
  margin: auto;
}

body {
  width: 100vw;
  margin: auto;
  overflow-x: hidden;
}

iframe {
  margin-top: 1.2rem;
  border-radius: 12px;
}

ul {
  padding-top: 40px;
}

p {
  
  text-align: start;
}

.flex {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
    width: 200px;
    height: 94.7vh;
    background: linear-gradient(dodgerblue, rgb(0, 47, 128));
    padding: 20px;
    color: white;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    /* margin-top: 6.3rem; */
    align-items: center;
}

.elements {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;
}

h2 {
    text-align: start;
    padding: 0 50px 0 50px;
}

p {
    width: 90%;
    padding: 0 20px 0 20px;
    color: #333;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}